{% extends 'orders/layout.html'%}
{% load static %}

{% block title %}Pinochio´s Pizza{% endblock %}
{% block main %}

<section class="flex-container">
    <h2 class="heading">Regular Pizza</h2>
    <div class="flex-item2">
        <img src="{% static 'images/pizzas/pizza1.jpg'%}" alt="Imagen de una pizza">
        <p class="mainname2">
            Cheese
        </p>
        <p class="subdetails2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, nesciunt.
        </p>
        <p class="selectcrust2">
            Select your size:
        </p>
        <div class="dropdown">
            <div class="select">
                <span class="selected">Small</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="active">Small</li>
                <li>Large</li>
            </ul>
        </div>
        <p class="price2">
            <button class="customisebtn2">
                Add <span class="sideprice">&#36 13.95</span>
            </button>
        </p>
    </div>
    <div class="flex-item2">
        <img src="{% static 'images/pizzas/pizza2.jpg'%}" alt="imagen de una pizza">
        <p class="mainname2">
            1 Topping
        </p>
        <p class="subdetails2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, assumenda?
        </p>
        <p class="selectcrust2">
            Select your size:
        </p>
        <div class="dropdown">
            <div class="select">
                <span class="selected">Small</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="active">Small</li>
                <li>Large</li>
            </ul>
        </div>
        <p class="price2">
            <button class="customisebtn2">
                Add <span class="sideprice">&#36 15.95</span>
            </button>
        </p>
    </div>
    <div class="flex-item2">
        <img src="{% static 'images/pizzas/pizza3.jpg'%}" alt="Imagen de una pizza">
        <p class="mainname2">
            2 toppings
        </p>
        <p class="subdetails2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, atque.
        </p>
        <p class="selectcrust2">
            Select your size:
        </p>
        <div class="dropdown">
            <div class="select">
                <span class="selected">Small</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="active">Small</li>
                <li>Large</li>
            </ul>
        </div>
        <p class="price2">
            <button class="customisebtn2">
                Add <span class="sideprice">&#36 17.95</span>
            </button>
        </p>
    </div>
    <div class="flex-item2">
        <img src="{% static 'images/pizzas/pizza4.jpg'%}" alt="imagen de una pizza">
        <p class="mainname2">
            3 Toppings
        </p>
        <p class="subdetails2">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, saepe?
        </p>
        <p class="selectcrust2">
            Select your size:
        </p>
        <div class="dropdown">
            <div class="select">
                <span class="selected">Small</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="active">Small</li>
                <li>Large</li>
            </ul>
        </div>
        <p class="price2">
            <button class="customisebtn2">Add <span class="sideprice">&#36 19.95</span>
            </button>
        </p>
    </div>
    <div class="flex-item2">
        <img src="{% static 'images/pizzas/pizza5.jpg'%}" alt="imagen de una pizza">
        <p class="mainname2">
            Special
        </p>
        <p class="subdetails2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, deleniti?</p>
        <p class="selectcrust2">
            Select your size:
        </p>
        <div class="dropdown">
            <div class="select">
                <span class="selected">Small</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="active">Small</li>
                <li>Large</li>
            </ul>
        </div>
        <p class="price2">
            <button class="customisebtn2">
                Add <span class="sideprice">&#36 21.95</span>
            </button>
        </p>
    </div>
</section>

 <!-- Sicilian section -->
<section class="flex-container">
    <h2 class="heading">Sicilian Pizza</h2>
    <div class="flex-item2">
        <img src="{% static 'images/pizzas/pizza5.jpg'%}" alt="imagen de una pizza">
        <p class="mainname2">
            Cheese
        </p>
        <p class="subdetails2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, deleniti?
        </p>
        <p class="selectcrust2">
            Select your size:
        </p>
        <div class="dropdown">
            <div class="select">
                <span class="selected">Small</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="active">Small</li>
                <li>Large</li>
            </ul>
        </div>
        <p class="price2">
            <button class="customisebtn2">
                Add <span class="sideprice">&#36 25.75</span>
            </button>
        </p>
    </div>
    <div class="flex-item2">
        <img src="{% static 'images/pizzas/pizza5.jpg'%}" alt="imagen de una pizza">
        <p class="mainname2">
            1 Item
        </p>
        <p class="subdetails2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, deleniti?
        </p>
        <p class="selectcrust2">
            Select your size:
        </p>
        <div class="dropdown">
            <div class="select">
                <span class="selected">Small</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="active">Small</li>
                <li>Large</li>
            </ul>
        </div>
        <p class="price2">
            <button class="customisebtn2">
                Add <span class="sideprice">&#36 28.75</span>
            </button>
        </p>
    </div>
    <div class="flex-item2">
        <img src="{% static 'images/pizzas/pizza5.jpg'%}" alt="imagen de una pizza">
        <p class="mainname2">
            2 Items
        </p>
        <p class="subdetails2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, deleniti?
        </p>
        <p class="selectcrust2">
            Select your size:
        </p>
        <div class="dropdown">
            <div class="select">
                <span class="selected">Small</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="active">Small</li>
                <li>Large</li>
            </ul>
        </div>
        <p class="price2">
            <button class="customisebtn2">
                Add <span class="sideprice">&#36 31.75</span>
            </button>
        </p>
    </div>
    <div class="flex-item2">
        <img src="{% static 'images/pizzas/pizza5.jpg'%}" alt="imagen de una pizza">
        <p class="mainname2">
            3 Items
        </p>
        <p class="subdetails2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, deleniti?
        </p>
        <p class="selectcrust2">
            Select your size:
        </p>
        <div class="dropdown">
            <div class="select">
                <span class="selected">Small</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="active">Small</li>
                <li>Large</li>
            </ul>
        </div>
        <p class="price2">
            <button class="customisebtn2">
                Add <span class="sideprice">&#36 34.75</span>
            </button>
        </p>
    </div>
    <div class="flex-item2">
        <img src="{% static 'images/pizzas/pizza5.jpg'%}" alt="imagen de una pizza">
        <p class="mainname2">
            Special
        </p>
        <p class="subdetails2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, deleniti?
        </p>
        <p class="selectcrust2">
            Select your size:
        </p>
        <div class="dropdown">
            <div class="select">
                <span class="selected">Small</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="active">Small</li>
                <li>Large</li>
            </ul>
        </div>
        <p class="price2">
            <button class="customisebtn2">
                Add <span class="sideprice">&#36 37.75</span>
            </button>
        </p>
    </div>
</section>

{% endblock %}