{% extends 'orders/layout.html'%}
{% load static %}

{% block title %}Pinochio´s Pizza{% endblock %}

{%block carrito%}
<aside>
    <div class="logo"> <a href="#"> <img src="{% static 'images/logo.png'%}"></a></div>
    <div class="basketlogo " onclick="basketshow()"><img
            src="{% static 'images/icons/basket.webp'%}" alt></div>
    <div class="flex-basket hide">
        <h2>Tu Carrito</h2>
        <div class="productosCarrito">
            
        </div>
        <!--
        <a>Your basket looks a little empty. Why not check out some of <u
                id="underline">our unbeatable deals?</u>-->
            <div class="totalCarrito">
                <p>Total: </p><span></span>
            </div>
            <button id="checkout">Checkout</button>
            <button id="vaciar" onclick="clearCart()">Vaciar</button>
    </div>
</aside>
        {%endblock%}
        {% block main %}

        <section class="flex-container">
            <h2 class="heading">Pizza</h2>
            {% for pizza in pizzas %}

            <div class="flex-item2">
                <p class="id_producto" style="display: none;">{{pizza.id}}</p>
                <img src="/media/{{pizza.imagen}}" alt="Imagen de una pizza">
                <p class="mainname2">
                    {{pizza.name}}
                </p>
                <p class="subdetails2" style="height: 110px;">
                    {{pizza.description}}
                </p>
                <p class="selectcrust2">
                    Select your size:
                </p>
                <div class="dropdown">
                    <div class="select">
                        <span class="selected">{{pizza.sizes.first}}</span>
                        <div class="caret"></div>
                    </div>
                    <ul class="menu">
                        <!--obtenemos los tamaños-->
                        {% for size in pizza.sizes.all %}
                        <!-- al primer elemento le agregamos la clase active-->
                        {% if forloop.first%}
                        <li class="active">{{size}}</li>
                        {%else%}
                        <li>{{size}}</li>
                        {%endif%}
                        {%endfor%}
                    </ul>
                </div>
                {%if pizza.numeroDeToppings != 0 %}
                <p class="selectcrust2">
                    Select your toppings:
                </p>
                {% for _ in ''|center:pizza.numeroDeToppings %}
                <div class="dropdown-topping">
                    <div class="select">
                        <span class="selected">{{pizza.topping.first}}</span>
                        <div class="caret"></div>
                    </div>
                    <ul class="topping">
                        <!--obtenemos los toppings-->
                        {% for topping in pizza.topping.all %}
                        <!-- al primer elemento le agregamos la clase active-->
                        {% if forloop.first%}
                        <li class="active">{{topping}}</li>
                        {%else%}
                        <li>{{topping}}</li>
                        {%endif%}
                        {%endfor%}
                    </ul>
                </div>
                {%endfor%}
                {%endif%}
                <p class="price2">
                    <button class="customisebtn2">
                        Add <span class="sideprice">&#36 {{pizza.large_price}}</span>
                    </button>
                </p>
            </div>
            {%endfor%}
        </section>

        <!-- Subs section -->
        <section class="flex-container">
            <h2 class="heading">Subs</h2>
            {% for sub in subs %}
            <div class="flex-item2">
                <p class="id_producto" style="display:none;">{{sub.id}}</p>
                <img src="/media/{{sub.imagen}}" alt="imagen de una pizza">
                <p class="mainname2">
                    {{sub.name}}
                </p>
                <p class="subdetails2" style="height: 157px;">
                    {{sub.description}}
                </p>
                <p class="selectcrust2">
                    Select your size:
                </p>
                <div class="dropdown">
                    <div class="select">
                        <span class="selected">{{sub.sizes.first}}</span>
                        <div class="caret"></div>
                    </div>
                    <ul class="menu">
                        <!--obtenemos los tamaños-->
                        {% for size in sub.sizes.all %}
                        <!-- al primer elemento le agregamos la clase active-->
                        {% if forloop.first%}
                        <li class="active">{{size}}</li>
                        {%else%}
                        <li>{{size}}</li>
                        {%endif%}
                        {%endfor%}
                    </ul>
                </div>
                <p class="selectcrust2">
                    Select your extra:
                </p>

                <div class="extra">
                    <!--obtenemos los extras disponibles para cada sub-->
                    {% for extra in sub.extras.all %}
                    <label for="{{sub.name}}{{extra}}"><input class="inputExtra"
                            type="checkbox" name="{{extra}}"
                            id="{{sub.name}}{{extra}}">{{extra.name}} &#36
                        {{extra.price}}</label>
                    {%endfor%}
                </div>

                <p class="price2">
                    <button class="customisebtn2">
                        Add <span class="sideprice">&#36 {{sub.large_price}}</span>
                    </button>
                </p>
            </div>
            {%endfor%}
        </section>

        <!-- Pasta section -->
        <section class="flex-container">
            <h2 class="heading">Pasta</h2>
            {% for pasta in pastas %}
            <div class="flex-item2">
                <p class="id_producto" style="display: none;">{{pasta.id}}</p>
                <img src="/media/{{pasta.imagen}}" alt="imagen de una Pasta">
                <p class="mainname2">
                    {{pasta.name}}
                </p>
                <p class="subdetails2" style="height: 90px;">
                    {{pasta.description}}
                </p>
                <p class="price2">
                    <button class="customisebtn2">
                        Add <span class="sideprice">&#36 {{pasta.price}}</span>
                    </button>
                </p>
            </div>
            {%endfor%}
        </section>
        <!-- Salads section -->
        <section class="flex-container">
            <h2 class="heading">Salads</h2>
            {% for salad in salads %}
            <div class="flex-item2">
                <p class="id_producto" style="display: none;">{{salad.id}}</p>
                <img src="/media/{{salad.imagen}}" alt="imagen de una ensalada">
                <p class="mainname2">
                    {{salad.name}}
                </p>
                <p class="subdetails2" style="height: 157px;">
                    {{salad.description}}
                </p>
                <p class="price2">
                    <button class="customisebtn2">
                        Add <span class="sideprice">&#36 {{salad.price}}</span>
                    </button>
                </p>
            </div>
            {%endfor%}
        </section>
        <!-- Dinner Plates section -->
        <section class="flex-container">
            <h2 class="heading">Dinner Plates</h2>
            {% for dinner in dinners %}
            <div class="flex-item2">
                <p class="id_producto" style="display: none;">{{dinner.id}}</p>
                <img src="/media/{{dinner.imagen}}" alt="imagen de una ensalada">
                <p class="mainname2">
                    {{dinner.name}}
                </p>
                <p class="subdetails2" style="height: 157px;">
                    {{dinner.description}}
                </p>
                <p class="selectcrust2">
                    Select your size:
                </p>
                <div class="dropdown">
                    <div class="select">
                        <span class="selected">{{dinner.sizes.first}}</span>
                        <div class="caret"></div>
                    </div>
                    <ul class="menu">
                        <!--obtenemos los tamaños-->
                        {% for size in dinner.sizes.all %}
                        <!-- al primer elemento le agregamos la clase active-->
                        {% if forloop.first%}
                        <li class="active">{{size}}</li>
                        {%else%}
                        <li>{{size}}</li>
                        {%endif%}
                        {%endfor%}
                    </ul>
                </div>
                <p class="price2">
                    <button class="customisebtn2">
                        Add <span class="sideprice">&#36 {{dinner.large_price}}</span>
                    </button>
                </p>
            </div>
            {%endfor%}
        </section>

        {% endblock %}