{% extends 'orders/layout.html'%}
{% load static %}

{% block title %}Pinochio´s Pizza|Login{% endblock %}
{% block main %}
<form class="form-login" action="#", method="GET">
    <div class="form-input">
        <label for="usuario">Nombre Usuario:</label>
        <input 
            type="text" 
            name="usuario" 
            id="usuario" 
            aria-describedby="input usuario" 
            placeholder="Ingresa tu usuario"
            autocomplete="off"
            autofocus
        >
    </div>

    <div class="form-input">
        <label for="contraseña">Contraseña:</label>
        <input  
            type="password" 
            name="contraseña" 
            id="contraseña" 
            aria-describedby="input contraseña" 
            placeholder="Ingresa tu contraseña"
            autocomplete="off"
        >
    </div>
    
    <div class="form-input">
        <label for="contraseña">Confirmar Contraseña:</label>
        <input 
            type="password" 
            name="contraseña" 
            id="confirmarContraseña" 
            aria-describedby="input contraseña" 
            placeholder="Confirma tu contraseña"
            autocomplete="off"
        >
    </div>

    <button class="login-button">Enviar</button>
    <p class="formulario"><a href="/register">Registrate</a></p>
</form>
{% endblock %}